body {
   background-image: url("https://i.pinimg.com/736x/90/12/72/9012729855684629eaf2f9916ea14cae.jpg");
  position:relative;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  background-color: #f0f8ff;
   border-radius: 15px;
  max-width: 500px;
  margin: auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

